.DS_Store
node_modules/

# Editor directories and files
.idea
!.vscode
.vscode/*
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln

# eslint and stylelint cache files
build/.cache/

dist/
lib/
es/

# typedoc
docs/