.DS_Store
node_modules/
dist/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# svn directory
.svn

# ignore eslint cache files
build/lint/.cache_*
build/lint/.eslintcache
build/lint/.eslinttscache
build/lint/.eslinttsxcache

# ignore stylelint cache files
build/lint/.stylelintcache*